body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: var(--background-color);
}

.calendar {
  max-width: 1000px;
  height: 800px;
  margin: 30px auto;
  background: var(--background-color-3);
  padding: 20px;
  border-radius: 10px;
}

.header {
  color: var(--title-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.day,
.weekday {
  color: white;
  padding: 10px;
  height: 80px;
  border: 1px solid var(--border-light-color);
}

.day:hover {
  background: var(--hover-color);
  cursor: pointer;
}

.event {
  background-color: #ffeb3b;
  font-size: 0.8em;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}